* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
}

.top {
    width: 100%;
    min-height: 60vh;
    background-image: url("https://img.freepik.com/premium-vector/abstract-white-monochrome-vector-background-design-brochure-website-flyer-geometric-white-wallpaper-certificate-presentation-landing-page_249611-6020.jpg");
    background-size: cover;
    background-position: center;
}

.top .overlay {
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.295);
}

.text {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: black;
}

.text h4 {
    font-weight: 600;
    font: size 4vw;
}

.text .image {
    background-image: url("image.jpeg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 220px;
    margin-top: 30px;
}

.rtext {
    display: flex;
    width: 25%;
    justify-content: space-between;
    /* align-items: center; */
}

.rtext p {
    font-size: 12px;
}

.icons {
    display: flex;
}

.msg {
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    /* margin-right: 400px; */
}

.bottom {
    display: flex;
    width: 100%;
    min-height: 40vh;
}

.b1 {
    width: 30%;
    min-height: inherit;
    background-image: url("background.b1.jpg");
    background-size: cover;
    background-position: center;
}

.b1 h2,
h3 {
    color: white;
    text-align: center;
    padding: 15px;
}

.b1 p {
    text-align: center;
    color: white;
    padding: 15px;
}

.b2 {
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

.b2 .up {
    width: 100%;
    min-height: 20vh;
    background-image: url("background.up.avif");
    background-size: cover;
    background-position: center;
}

.b2 .up h1 {
    text-align: center;
    padding: 10px;
}

.b2 .up p {
    color: black;
    text-align: center;
    padding: 5px;
}

.b2 .down {
    width: 100%;
    min-height: 20vh;
    background-image: url("background.down.jpg");
    background-size: cover;
    background-position: center;
}

.b2 .down .overlay {
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.344);
}

.b2 .down .h1 {
    color: black;
}

.b3 {
    width: 40%;
    min-height: inherit;
    background-image: url("background.b3.jpg");
    background-size: cover;
    background-position: center;
}

.b3 .overlay {
    justify-content: right;
    width: 50%;
    height: 100%;
    position: relative;
    padding: 4vh 3vh;
    margin-left: 50%;
}

.b3 .overlay p {
    padding: 1.2vh;
}

@media(max-width:700px) {
    .rtext {
        flex-direction: column;
    }
    .b3 .overlay {
        width: 100%;
        margin-left: initial;
    }
}

@media(max-width:650px) {
    .text {
        flex-direction: column;
        align-items: flex-start;
    }
    .text h4 {
        font-size: 2vh;
    }
    .text .image {
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .rtext p {
        margin-top: 5px;
    }
    .icons {
        margin-top: 10px;
    }
    .bottom {
        flex-direction: column;
        align-items: flex-start;
    }
    .b1 {
        width: 100%;
    }
    .b2 {
        width: 100%;
    }
    .b2 .up {
        min-height: 30vh;
    }
    .b3 {
        width: 100%;
        background-position: left;
        min-height: 30vh;
    }
}